# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
dist
bower_components
node_modules
npm-debug.log
vendor

*.zip
themes/rabbi-sacks/404.php
themes/rabbi-sacks/archive-quotes.php
themes/rabbi-sacks/archive.php
themes/rabbi-sacks/author.php
themes/rabbi-sacks/category.php
themes/rabbi-sacks/comments.php
themes/rabbi-sacks/email-signature.html
themes/rabbi-sacks/error_log
themes/rabbi-sacks/error_log.gz
themes/rabbi-sacks/functions.php
themes/rabbi-sacks/jquery.bxslider.css
themes/rabbi-sacks/LICENSE.txt
themes/rabbi-sacks/page-book-reviews.php
themes/rabbi-sacks/page-books.php
themes/rabbi-sacks/page-holding.php
themes/rabbi-sacks/page-holding2015.php
themes/rabbi-sacks/page-home.php
themes/rabbi-sacks/page-home2015.php
themes/rabbi-sacks/page-news.php
themes/rabbi-sacks/page-newsletter.php
themes/rabbi-sacks/page-quotes.php
themes/rabbi-sacks/page-search.php
themes/rabbi-sacks/page-templeton.php
themes/rabbi-sacks/page.php
themes/rabbi-sacks/README.txt
themes/rabbi-sacks/screenshot.png
themes/rabbi-sacks/search.php
themes/rabbi-sacks/sidebar.php
themes/rabbi-sacks/single-book-reviews.php
themes/rabbi-sacks/single-books.php
themes/rabbi-sacks/single.php
themes/rabbi-sacks/style.css
themes/rabbi-sacks/tag.php
themes/rabbi-sacks/taxonomy-topics.php
themes/rabbi-sacks/css/ie.css
themes/rabbi-sacks/css/jquery.mmenu.css
themes/rabbi-sacks/css/jquery.mmenu.positioning.css
themes/rabbi-sacks/css/reset.css
themes/rabbi-sacks/css/responsive-gs-12col.css
themes/rabbi-sacks/external/starkers-utilities.php
themes/rabbi-sacks/flexible-posts-widget/admin.php
themes/rabbi-sacks/flexible-posts-widget/widget.php
themes/rabbi-sacks/flexible-posts-widget/widget_audio.php
themes/rabbi-sacks/flexible-posts-widget/widget_books.php
themes/rabbi-sacks/flexible-posts-widget/widget_excerpt.php
themes/rabbi-sacks/flexible-posts-widget/widget_excerpt_cc.php
themes/rabbi-sacks/flexible-posts-widget/widget_video.php
themes/rabbi-sacks/flexible-posts-widget/views/widget_video.php
themes/rabbi-sacks/images/amazon-uk.png
themes/rabbi-sacks/images/amazon-us.png
themes/rabbi-sacks/images/banner-1.jpg
themes/rabbi-sacks/images/banner-bg.jpg
themes/rabbi-sacks/images/banner.jpg
themes/rabbi-sacks/images/banner.png
themes/rabbi-sacks/images/bg.jpg
themes/rabbi-sacks/images/bio-pic.jpg
themes/rabbi-sacks/images/books-banner.jpg
themes/rabbi-sacks/images/clock.png
themes/rabbi-sacks/images/email.png
themes/rabbi-sacks/images/event.jpg
themes/rabbi-sacks/images/facebook.png
themes/rabbi-sacks/images/gold-arrow.png
themes/rabbi-sacks/images/header-bg.jpg
themes/rabbi-sacks/images/header-bg.png
themes/rabbi-sacks/images/hero-bg.png
themes/rabbi-sacks/images/koren.png
themes/rabbi-sacks/images/logo.jpg
themes/rabbi-sacks/images/logo.png
themes/rabbi-sacks/images/not-in-gods-name-bg
themes/rabbi-sacks/images/not-in-gods-name-bg.jpg
themes/rabbi-sacks/images/pin.png
themes/rabbi-sacks/images/play-icon.png
themes/rabbi-sacks/images/plus.png
themes/rabbi-sacks/images/red-arrow.png
themes/rabbi-sacks/images/search-submit.png
themes/rabbi-sacks/images/teal-arrow.htm
themes/rabbi-sacks/images/teal-arrow.png
themes/rabbi-sacks/images/telephone.png
themes/rabbi-sacks/images/thumb.jpg
themes/rabbi-sacks/images/twitter.png
themes/rabbi-sacks/images/wohl.png
themes/rabbi-sacks/js/jquery.bxslider.min.js
themes/rabbi-sacks/js/jquery.cookie.js
themes/rabbi-sacks/js/jquery.mmenu.min.js
themes/rabbi-sacks/js/site.js
themes/rabbi-sacks/parts/shared/footer-holding.php
themes/rabbi-sacks/parts/shared/footer.php
themes/rabbi-sacks/parts/shared/footerblank.php
themes/rabbi-sacks/parts/shared/header-holding.php
themes/rabbi-sacks/parts/shared/header.php
themes/rabbi-sacks/parts/shared/header2015.php
themes/rabbi-sacks/parts/shared/header2logo.php
themes/rabbi-sacks/parts/shared/headerblank.php
themes/rabbi-sacks/parts/shared/html-footer.php
themes/rabbi-sacks/parts/shared/html-header.php
themes/rabbi-sacks/tribe-events/default-template.php
themes/rabbi-sacks/tribe-events/list.php
themes/rabbi-sacks/tribe-events/month.php
themes/rabbi-sacks/tribe-events/single-event.php
themes/rabbi-sacks/tribe-events/tribe-events.css
themes/rabbi-sacks/tribe-events/list/content.php
themes/rabbi-sacks/tribe-events/list/loop.php
themes/rabbi-sacks/tribe-events/list/nav.php
themes/rabbi-sacks/tribe-events/list/single-event.php
themes/rabbi-sacks/tribe-events/modules/address.php
themes/rabbi-sacks/tribe-events/modules/bar.php
themes/rabbi-sacks/tribe-events/month/content.php
themes/rabbi-sacks/tribe-events/month/loop-grid.php
themes/rabbi-sacks/tribe-events/month/nav.php
themes/rabbi-sacks/tribe-events/month/single-day.php
themes/rabbi-sacks/tribe-events/month/single-event.php
themes/rabbi-sacks/tribe-events/tickets/attendees-email.php
themes/rabbi-sacks/tribe-events/tickets/email.php
themes/rabbi-sacks/tribe-events/widgets/calendar-widget.php
themes/rabbi-sacks/tribe-events/widgets/list-widget.php
