footer.content-info {
		color: $brand-white;
	    padding-top: 1em;
	    background-color: $dark-grey;
	    section h3{
			@extend .screen-reader-text;
		}
		a{color:$brand-white;}
		a:hover{color: $brand-primary; text-decoration:none}
		// ul{
		// 	padding-left:none;
		// 	}
		// 	li{
		// 	list-style:none;
		// }
}