.nav {
	@extend .uk-navbar-nav;
	@extend .uk-hidden-small;
}

.topbanner{
	background-color: black;
	color: white;
}

#menu-top-social-nav {
	&>li>a
	{
		color: #fff;
		font-size: 100%;
	}

}

#sidemenu {
	ul{
		padding-top: 4em;	
			li{
			padding-left: 2em;
		}
	}
	.menu-main-navigation-container .uk-nav{ // only main ul, not any submenu's	
		li{
			padding-left: 2em;
		    border-bottom: 1px solid #fff;
		    a {
				font-size: 2em;
			    padding-top: 1em;
				padding-bottom: 1em; 
			}
		}
	}
}


.uk-navbar-brand {
	background: $brand-primary;
}

.pagemenu {padding: 2em 0;}
