.nav {
	@extend .uk-navbar-nav;
	@extend .uk-hidden-small;
}

.topbanner{
	background-color: black;
	color: white;
}
.uk-navbar-brand {
	// 
}
.brand img{ 
	&.logo{	width:174px;background: $brand-primary;
	}
	&.logo-office{	width:261px;}
	height: auto;

}
.nav-social{
	.nav>li>a, .uk-navbar-nav>li>a{
			height:40px;
	}


}
//.nav>li>a, .uk-navbar-nav>li>a
#menu-top-social-nav {
	&>li>a
	{
		color: #fff;
		font-size: 100%;
		height:40px;
	}

}

#sidemenu {
	ul{
		padding-top: 4em;	
			li{
			padding-left: 2em;
		}
	}
	.menu-main-navigation-container .uk-nav{ // only main ul, not any submenu's	
		li{
			padding-left: 2em;
		    border-bottom: 1px solid #fff;
		    a {
				font-size: 1.5em;
			    padding-top: 1em;
				padding-bottom: 1em; 
			}
		}
	}
}




.pagemenu {padding: 2em 0;}
