.nav {
	@extend .uk-navbar-nav;
	@extend .uk-hidden-small;
}

.topbanner{
	background-color: black;
	color: white;
}
.uk-navbar-brand {
	margin-bottom: 0;
	padding-left: 0;
	height: 100%;
	position: relative;
	li{
		float: left;

	}
	 .logo{ 
	 	background: $brand-primary;	
	 	padding: 13px 14px;
	 	img {width:130px;}
	  }
	.logo-office {	
		    padding: 39px 26px;
		img {
			width:261px;	 	
		}
	}
}
.nav-social{
	.nav>li>a, .uk-navbar-nav>li>a{
			height:$social-nav-height;
	}


}
//.nav>li>a, .uk-navbar-nav>li>a
#menu-top-social-nav {
	&>li>a
	{
		color: #fff;
		font-size: 100%;
		line-height: 2;
		height:$social-nav-height;

	}

}
.nav-always{
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    li{
		    float: left;
		    position: relative;
		    a{
		    	height: $navbar-nav-height;
				padding: 0 15px;
				line-height: $navbar-nav-height;
				color: $text-dark;
		    }
	    }
}

 #sidemenu {
	ul{
		padding-top: 4em;	
			li{
			padding-left: 2em;
		}
	}
	.menu-main-navigation-container .uk-nav{ // only main ul, not any submenu's	
		li{
			padding-left: 2em;
		    border-bottom: 1px solid #fff;
		    a {
				font-size: 1.5em;
			    padding-top: 1em;
				padding-bottom: 1em; 
			}
		}
	}
}




.pagemenu {padding: 2em 0;}
