.home{
    .page-header {
        @extend .hide-text;
    
    }
    .home-image{
            background-image: url('../images/sacks-header.jpg');
            min-height: 200px;
    }
    .page-sector {
        padding: 0;
        &.perspectives .uk-grid{

        }
    }
}



.page-sector-title{
    display: table;
    white-space: nowrap;
       text-align: center;
    text-transform: uppercase;
    &:before, &:after {
        //background:url(data:image/gif;base64,R0lGODdhAQABAIgAAEqMMQAAACwAAAAAAQABAAACAkQBADs=) repeat-x center;
          background: linear-gradient(to bottom, $dark-grey, $dark-grey) no-repeat center / 90% 2px;
          content: '';
          display: table-cell;
          width: 50%;
    }
    &:before {  }
    &:after { }
}