// HOMEPAGE
.home{
    .page-header {
        @extend .hide-text;   
    }

    .home-image{
         //   background-image: url('../images/home-header.jpg');
            min-height: 235px;
                z-index: -50;
    }

    .headertext{
        color: #fff;
        // font-size: 2rem;
        line-height: 1.2;
        padding-top: 2rem;
        font-family: 'GFS Didot', serif;
    }
    .page-sector {
        padding: 0;
        &.perspectives .uk-grid{

        }
    }
      .quote-large{
        line-height: 1;
          font-family: 'GFS Didot', serif;
          font-style: italic;

    font-size: 200%;
    text-align: center;

      }
      .quote-att{
        color: #fff;
        padding-top: 2em;
      }
      .selected-bg {
        min-height: 700px;
        .uk-panel-body{
            font-size: 150%;
            a i{
                font-size: 400%;
            }
        }
      }
}
.home .content, .home #thecontent,
.search .thecontent,
.archive .thecontent {
           margin-top: 3em;
    }

// on homepage & landing pages
.header-line { 
    display: table;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    color: $brand-primary;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
    &:before, &:after {
          background: linear-gradient(to bottom, $dark-grey, $dark-grey) no-repeat center / 100% 1px;
          content: '';
          display: table-cell;
          width: 50%;
    }
}

.page-sector > .uk-grid {
    padding:  0;
}

.uk-panel-box{
        margin-left: auto;
    margin-right: auto;
}
.feature-primary .uk-panel-box {
    max-width: 636px;
    .uk-panel-body{
    max-width: 475px;
    text-align: center;
    margin: 0 auto;
    }
}
.feature-secondary .uk-panel-box, .feature-trio .uk-panel-box {
    max-width: 300px;
}

.page-sector.selected .page-sector-title {
    padding-top: 2em;
}

// Cov & Conv homepage
.pagetop_menu {
    background: $brand-tint;
}

#parshotmenu {
    // display: none;
    ul{ margin-top: 0;}
}


.entry-content {
    padding-top: 2em;
    border-top: 1px solid $dark-grey;
}


