.home{
    .page-header {
        @extend .hide-text;
    
    }
    .home-image{
            background-image: url('../images/sacks-header.jpg');
            min-height: 669px;

    }
    .page-sector {
        padding: 7em 0;
        &.perspectives .uk-grid{
            background-color: azure;
            min-height:200px;
        }
    }
}