@import url('https://fonts.googleapis.com/css?family=GFS+Didot');

body { margin: 0 1em; }
body, p, td {
  font-family: "niveau-grotesk",sans-serif;
}

.container {
      .main &{
      background: white;
      }  

	 @extend .uk-container;
	 @extend .uk-container-center; 

    .main &{
      background: white;
      }  
}

// hide text for image replacement
.hide-text {
         text-indent: 100%;
         white-space: nowrap;
         overflow: hidden;
}

ul {
  @extend .uk-list;
}
.content{
     margin-top: 3em;
}
#thecontent {
       margin-top: 3em;
}

.fullwidth{
   margin-left: calc(-50vw + 50%) !important;
   margin-right: calc(-50vw + 50%) !important;  
}
time{ color: $dark-body-color;}
.entry-summary {
    margin-top: 1em;
}

span.category_icon {
    height: 2em;
    width: 2em;
    background: purple;
    display: block;
    float: right;
    border-radius: 2em;
}