body { margin: 0; }
body, p, td,.header-line{
  font-family: "niveau-grotesk",sans-serif;
}
.uk-article-title a {color:$brand-primary}
h1, blockquote, blockquote p, .quote-large, .entry-title {
  font-family: 'GFS Didot', serif;
}

// font sizes
// .header-text {font-size: 50px;}
h3.entry-title {
    a{color: $text-dark;}
}

.wrap .content{
  // color or texture?
  background: #fff;
}

.container {
	 @extend .uk-container;
	 @extend .uk-container-center; 

    .main &{
      background: white;
    }  
    .container--inner{
      padding: 2em;
    }
}


// hide text for image replacement
.hide-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


ul {
  @extend .uk-list;
}




time{ color: $dark-body-color;}
.entry-summary {
    margin-top: 1em;
}
.toggleicon {width:1em;}

span.category_icon {
    height: 2em;
    width: 2em;
    background: purple;
    display: block;
    float: right;
    border-radius: 2em;
}


blockquote, .quote-large{ // Quotemarks top & bottom
  &::before{
       color: $brand-grey;
      content: open-quote;
       font-size: 4em;
      display: block;
      padding-top: 0.3em;
    }
    &::after{
         color: $brand-grey;
      content: close-quote;
        display: block;
          font-size: 4em;
         margin-top: 0.4em;
    }
  }
  .quote-large::before, .quote-large::after{line-height: 0.5}


.featured-image img{
  @extend .uk-align-center;
  display: block;
}
