


 // ==========  Mobile First Method  ==========
 
	/* Custom, iPhone Retina */

 	@media only screen and (min-width : 320px){ 
 	
 	}
 
	/*  Small Devices, Phones */
	@media only screen and (min-width : 480px){ 
	
	}

	/* medium Devices, Tablets */
	@media only screen and (min-width : 768px){
		#searchbox form {
			padding: 3em;
		}
		.main .uk-container{ padding: 0 25px}
		.fullwidth{
		   margin-left: calc(-50vw + 50%) !important;
		   margin-right: calc(-50vw + 50%) !important;  
		}
		.alignleft {
		    float: left;
		    //margin-right: ($line-height-computed / 2);
		  }
		  .alignright {
		    float: right;
		    //margin-left: ($line-height-computed / 2);
		  }

		  #sidemenu .menu-main-navigation-container .uk-nav li a {font-size: 2em;}

		//	.page-sector > .uk-grid { padding: 3em 0;}			
		
		.page-sector .uk-panel{ padding-top: 0;}
		.page-sector-title {padding-bottom: 2em;}
		 .container--inner{
		      padding: 2em;
	    }
		  .feature-left{
			     	border-width: 0;
					border-style: solid;
					border-color: $dark-grey;
			    border-right-width: $border-line-width;    
			}
			.feature-right{
			     	border-width: 0;
					border-style: solid;
					border-color: $dark-grey;
			    border-left-width: $border-line-width;    
			}
			.home {
				.home-image{
	            min-height: 669px;
			    }
			    .headertext{
				     padding-top: 0;  
			    }
				.header-text {    
				    text-align: center;
				}

			}
			.books-home .feature-primary .uk-panel{ width: 50%;}

			// font sizes
			h3.entry-title {
			    line-height: 1.2;
			   
			    .feature-secondary &, .feature-trio & {
					font-size: 1.6rem;			    	
			    }
			    .feature-primary & {
					font-size: 2.8rem;			    	
			    }

			}
				// Archive pages
			.archive {
				.thecontent {
			       padding-left: 4em;
			       padding-right: 4em;
			   }
			 }
			 .pagetop_menu .container--inner {
		        padding: 0 2em;
		    }
	 }

	
 	
 	
	/* large Devices, Desktops */
	@media only screen and (min-width : 992px){ 

	}
	@media only screen and (min-width : 1024px){ 
		.logo-office{ display:none;}
	}

 
	/* XLarge Devices, Wide Screens */
	@media only screen and (min-width : 1200px){ 
		.logo-office{ display:block;}
			.uk-navbar-brand {
			margin-bottom: 0;
			padding-left: 0;
			height: 100%;
			position: relative;
			li{float: left;}
			 .logo{ 
			 	padding: 21px ;
			 	//img {width:174px;}
			  }
			
		}

	}
	
	
