// @import url('https://fonts.googleapis.com/css?family=GFS+Didot');

/////////////
// MIXINS //
////////////
@mixin box-shadow($top: 3px, $left: 3px, $blur: 4px, $colour: $text-dark, $inset:"") {
  -webkit-box-shadow: #{$inset} $top $left $blur $colour;
  -moz-box-shadow:  #{$inset} $top $left $blur $colour;
  box-shadow: #{$inset} $top $left $blur $colour;
}


/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}



// Grid settings
// $enable-flex:           true;
// $main-sm-columns:       12;
// $sidebar-sm-columns:    4;
$spacer: 1rem; // setting a referenced bootstrap variable
$icon-font-path:                                 "../fonts" !default;
$border-line-width: 1px;

$didot:'Didot W01 Display';
// font-family:'Didot W01 Display';
// font-family:'Didot W01';


// Colors
$brand-primary:         #662483; // purple
$brand-grey: 	#F3F3F3;
$dark-grey: 	#949494;
$text-dark: 	#444;
$brand-white: #eee;
$navbar-background: #fff;

$brand-tint: tint($brand-primary, 90%);

// Set UIkit variables

// $utility-container-large-max-width: 1100px;

$base-em-color: #777;
$base-body-color: #777;
$dark-body-color: $text-dark;
$base-link-color: $brand-primary;

$navbar-nav-font-family: "niveau-grotesk",sans-serif;
$navbar-nav-hover-background: transparent;
$navbar-nav-hover-color:$brand-primary;
$navbar-nav-active-background: none;
$navbar-nav-active-color: $brand-primary;
$navbar-nav-onclick-background: none;
$navbar-nav-onclick-color: $text-dark;
$navbar-nav-height: 90px;
$social-nav-height: 30px;

$base-h1-font-size: 15px;
$base-h1-line-height: 1.5;

$offcanvas-bar-width: auto;
$nav-offcanvas-hover-background: none;
$nav-offcanvas-active-background:none;

$overlay-icon: "\f01d"; //play icon
$overlay-panel-background: rgba(0,0,0,0.3);

// $slidenav-contrast-hover-color: hsla(100%,0%,100%,.7);
.uk-slidenav-contrast.uk-slidenav-previous,     
.uk-slidenav-contrast.uk-slidenav-next {   
    background-color: rgba(255,255,255,0.4);    
    color: rgba(0,0,0,0.4);    
}
.uk-slidenav-contrast.uk-slidenav-previous:hover,
.uk-slidenav-contrast.uk-slidenav-next:hover {   
    background-color: rgba(255,255,255,0.6);    
    color: rgba(0,0,0,0.4);  
}


$base-link-hover-color: darken( $brand-primary, 10% );
$base-link-hover-text-decoration: none;

$button-primary-background: #fff;
$button-primary-color: $brand-primary;
$button-primary-hover-background: $brand-primary;
$button-primary-hover-color: #fff;
$button-primary-active-background: $brand-primary;
$button-primary-active-color: #fff;

// $base-blockquote-padding-left: 0;
// $base-blockquote-border-width: 0;
// $base-blockquote-border: $brand-primary;
// $base-blockquote-font-size: 1.4em;
// $base-blockquote-line-height: 1.2em;
// $base-blockquote-font-style: none;

$panel-box-background: none;
//$dotnav-background: $dark-grey;
$dotnav-width: 10px;
$dotnav-height: 10px;
$dotnav-background:                              rgba(128,128,128,0.9) !default;

$dotnav-hover-background:                        rgba(50,50,50,0.4) !default;
$dotnav-onclick-background:                      rgba(50,50,50,0.6) !default;
$dotnav-active-background:                       rgba(50,50,50,0.4) !default;

$dotnav-contrast-background:                     rgba(0,0,0,0.4) !default;
$dotnav-contrast-hover-background:               rgba(0,0,0,0.7) !default;
$dotnav-contrast-onclick-background:             rgba(0,0,0,0.9) !default;
$dotnav-contrast-active-background:              rgba(0,0,0,0.9) !default;

%borders {
	border-width: 0;
	border-style: solid;
	border-color: $dark-grey;
}


