@import url('https://fonts.googleapis.com/css?family=GFS+Didot');

/////////////
// MIXINS //
////////////

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}



// Grid settings
// $enable-flex:           true;
// $main-sm-columns:       12;
// $sidebar-sm-columns:    4;
$spacer: 1rem; // setting a referenced bootstrap variable
$icon-font-path:                                 "../fonts" !default;
$border-line-width: 1px;



// Colors
$brand-primary:         #6c086b; // Red
$brand-grey: 	#F3F3F3;
$dark-grey: 	#949494;
$text-dark: 	#444;
$brand-white: #eee;
$navbar-background: #fff;

$brand-tint: tint($brand-primary, 90%);

// Set UIkit variables
$base-em-color: #777;
$base-body-color: #777;
$dark-body-color: $text-dark;
$base-link-color: $brand-primary;

$navbar-nav-font-family: "niveau-grotesk",sans-serif;
$navbar-nav-hover-background: transparent;
$navbar-nav-hover-color:$brand-primary;

$offcanvas-bar-width: auto;
$nav-offcanvas-hover-background: none;
$nav-offcanvas-active-background:none;

$overlay-icon: "\f01d"; //play icon
$overlay-panel-background: rgba(0,0,0,0.3);

$base-link-hover-color: darken( $brand-primary, 10% );
$base-link-hover-text-decoration: none;

// $base-blockquote-padding-left: 0;
// $base-blockquote-border-width: 0;
// $base-blockquote-border: $brand-primary;
// $base-blockquote-font-size: 1.4em;
// $base-blockquote-line-height: 1.2em;
// $base-blockquote-font-style: none;

$panel-box-background: none;
//$dotnav-background: $dark-grey;
$dotnav-background:                              rgba(128,128,128,0.9) !default;

$dotnav-hover-background:                        rgba(50,50,50,0.4) !default;
$dotnav-onclick-background:                      rgba(50,50,50,0.6) !default;
$dotnav-active-background:                       rgba(50,50,50,0.4) !default;

$dotnav-contrast-background:                     rgba(0,0,0,0.4) !default;
$dotnav-contrast-hover-background:               rgba(0,0,0,0.7) !default;
$dotnav-contrast-onclick-background:             rgba(0,0,0,0.9) !default;
$dotnav-contrast-active-background:              rgba(0,0,0,0.9) !default;

%borders {
	border-width: 0;
	border-style: solid;
	border-color: $dark-grey;
}


